<%= render :partial => "custom_javascript_find_categories.html", :locals => { :all => true } %>
    <iframe id="helpframe" src='' height='0' width='0' frameborder='0'></iframe>
    <script type="text/javascript">
      jQuery(document).ready(function($){
        function iframeResizePipe()
        {
           // What's the page height?
           var height = $("#body").height();
           var width = $("#body").width();

           // Going to 'pipe' the data to the parent through the helpframe..
           $('#helpframe').attr("src",'<%= IFRAME_HELPER %>?height='+height+'&width='+width+'&cacheb='+Math.random());

        }
        iframeResizePipe();
      });
    </script>
<div class="pic_header float_left header margin_padding">
  <% form_tag result_classified_path do %>
    <div class="float_left">
      <p>
        <%= link_to "HOME", root_path, :class => "white" %>&nbsp;&gt;&nbsp;
        CATEGORY&nbsp;&gt;&nbsp;
        <%= select_tag "category_id", options_for_select(@categories.collect{|x| [x.name,x.id]}, params[:category_id].to_i), :id => "classified_category_id" %>&nbsp;&gt;&nbsp;
        <%= select_tag "sub_category_id", options_for_select([["all",0]] + (@sub_categories || @sub_category_housings).collect{|x| [x[1],x[0]]}, params[:sub_category_id].to_i), :id => "classified_sub_category_id" %>
      </p>
      <p>
        <%= link_to "HOME", root_path, :class => "white" %>&nbsp;&gt;&nbsp;
        Location&nbsp;&gt;&nbsp;
        <%= select_tag "location_id", options_for_select([["All", 0]] + (@locations.collect{|x| [x.name,x.id]}), params[:location_id].to_i) %>
      </p>
      <div class="clear"></div>
    </div>
    <input type="submit" value="GO" class="float_right margin_padding button"/>
  <% end %>
  <div class="app_clear">&nbsp;</div>
</div>
