<div class="pic_header float_left header margin_padding">
  <h1 class="h_center">
    Free classifieds between fellows : free, easy and fast.
  </h1>
  <div class="clear"></div>
</div>
<div class="pic_header detail_content float_left margin_padding">
  <%= button_to "> Posts to classifieds",post_classified_path, {:class => "float_right", :method => :get} %>
  <div class="clear"></div>
  <br/>
  <div class="subcategory_1 float_left">
    <table width="100%">
      <thead>
        <tr>
          <td class="table_head margin_padding"><%= link_to "Housing", result_classified_path+"?category_id=1" %></td>
        </tr>
      </thead>
      <tbody>
        <% @sub_category_housings.each do |house| %>
          <tr>
            <td><p><%= link_to house.name, result_classified_path+"?category_id=1&sub_category_id=#{house.id}" %></p></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="subcategory_2 float_left">
    <table width="100%">
      <col class="col"/>
      <col class="col"/>
      <col class="col"/>
      <col class="col"/>
      <thead>
        <tr>
          <td colspan="4"  class="table_head margin_padding"><%= link_to "For Sale", result_classified_path+"?category_id=11" %></td>
        </tr>
      </thead>
      <tbody>
        <% @sub_category_for_sales.each do |for_sales| %>
          <tr>
            <% for_sales.each do |for_sale| %>
              <td><p><%= link_to for_sale.name, result_classified_path+"?category_id=11&sub_category_id=#{for_sale.id}" %></p></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="app_clear">&nbsp;</div>
  <div class="subcategory_3 float_left">
    <table width="100%">
      <col class="col"/>
      <col class="col"/>
      <col class="col"/>
      <thead>
        <tr>
          <td colspan="4"  class="table_head margin_padding"><%= link_to "Services", result_classified_path+"?category_id=48" %></td>
        </tr>
      </thead>
      <tbody>
        <% @sub_category_services.each do |services| %>
          <tr>
            <% services.each do |service| %>
              <td><p><%= link_to service.name, result_classified_path+"?category_id=48&sub_category_id=#{service.id}" %></p></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="subcategory_4 float_left">
    <table width="100%">
      <col class="col"/>
      <col class="col"/>
      <thead>
        <tr>
          <td colspan="2"  class="table_head margin_padding"><%= link_to "Jobs", result_classified_path+"?category_id=70" %></td>
        </tr>
      </thead>
      <tbody>
        <% @sub_category_jobs.each do |jobs| %>
          <tr>
            <% jobs.each do |job| %>
              <td><p><%= link_to job.name, result_classified_path+"?category_id=70&sub_category_id=#{job.id}" %></p></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
