<%= render :partial => "header.html" %>
<div class="pic_header detail_content float_left margin_padding">
  <%= link_to "Back to results", :back %>
  <div class="clear"></div>
  <br/>
  <div class="margin_padding">
    <div class="float_left table_content_price">
      <p><%= @classified.price %></p>
    </div>
    <div class="float_left table_content_classified">
      <p><%= @classified.title %></p>
    </div>
    <div class="float_left table_content_typed remove_border">
      <p><%= @classified.typed_location %></p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="separator"></div>
  <p>Date: <%= @classified.created_at %><br/>
    Posted by: <%= @classified.first_name %> <%= @classified.last_name %> ( <a href="#"  onclick="window.top.location = '<%= @classified.url %>'"><%= @classified.url %></a> )
  </p>
  <div class="separator"></div>
  <p>
   <%= @classified.description %>
  </p>
  <br/>
  <% @classified.pictures.each do |picture| %>
    <div class="image_150 float_left">
      <%= image_tag (picture.public_filename(:thumb_150)) %>
    </div>
  <% end %>
  <div class="clear"></div>
  <div class="separator"></div>
  <p>
    Posting ID : <%= @classified.id %>
  </p>
  <div class="separator"></div>